version: "3.9"

services:
  clamav:
    image: clamav-watcher:latest
    container_name: clamav-watcher
    tty: True
    environment:
      PGID: '568'
      PUID: '568'
      TZ: 'Australia/Melbourne'
    volumes:
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/apps-pool/apps/clamav/data
        target: /var/lib/clamav
        type: bind
      - bind:
          create_host_path: False
          propagation: rprivate
        read_only: False
        source: /mnt/tank/media
        target: /media
        type: bind
    healthcheck:
      test: ["CMD-SHELL", "freshclam --version || exit 1"]
      interval: 300s
      timeout: 15s
      retries: 3
    restart: unless-stopped